@import 'utils/variables';
@import 'components/type';
@import 'reset.css';


:root{
    --couleur--fond : #057872;
    --couleur--txt: white;
    --couleur--fondproj : #003734;
    --couleur--txtproj :black;
    --couleur--block1: #003734;
    --couleur--hover : #6DFFF7;
    --couleur--koro : #E9F3F3;
}

@media(prefers-color-scheme: light){
    :root {
        --couleur--fond : #E9F3F3;
        --couleur--txt: black;
        --couleur--fondproj : #5DDCD5;
        --couleur--txtproj :white;
        --couleur--block1: #5DDCD5;
        --couleur--koro : #057872;
    }
}


[data-theme="dark"] {
    --couleur--fond : #057872;
    --couleur--txt: white;
    --couleur--fondproj : #003734;
    --couleur--txtproj :black;
    --couleur--block1: #003734;
    --couleur--hover : #6DFFF7;
    --couleur--koro : #E9F3F3;
}

[data-theme="light"]{
    --couleur--koro : #057872;
    --couleur--fond : #E9F3F3;
    --couleur--txt: black;
    --couleur--fondproj : #5DDCD5;
    --couleur--txtproj :white;
    --couleur--block1: #5DDCD5;
}

body{
    background-color: var(--couleur--fond);
    margin: 0px;
    font-family: 'Hind', sans-serif;
    font-weight: 500;
}
.title,.text{
    color: var(--couleur--txt);
}

.title{
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
}

.title--big{
    font-size: 67.34px;
    text-align: center;
    padding-top: 62%;
}

.title--nrm{
    font-size: 37.9px;
}

.title--ptt{
    font-size: 28.43px;
}

.link{
    color: var(--couleur--txt);
    font-size: 21.33px;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

main{
    margin-left: 25px;
    margin-right: 25px;
}

.bloc1{
    height: 100vh;
    background-color: var(--couleur--fondproj);
    position: relative;
}


.proj{
    background-color: var(--couleur--fondproj);
    padding: 5%;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 50px;
    text-align: center;

}

.proj:hover{
    background-color: var(--couleur--hover);
}
.text{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
}

.img{
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.svg--insta{
    stroke: var(--couleur--txt);
}

.svg--email{
    fill: var(--couleur--txt);
}

.svg--cv{
    fill: var(--couleur--txt);
    stroke: var(--couleur--txt);
}

.btn--theme{
    position: absolute;
    right: 3%;
    bottom: 2%;
}

.cercle--svg{
    fill :var(--couleur--koro);
}
.tete--svg{
    fill : var(--couleur--block1)
}

