@import 'utils/variables';
@import 'components/type';


:root{
 --couleur--fond : #003734;
 --couleur--txt: white;
 --couleur--fondproj : black;

}

body{
    background-color: var(--couleur--fond);
}
.title{
    color: var(--couleur--txt);
}


.proj{
    background-color: var(--couleur--fondproj);
    margin: 2%;
    padding-top: 30px;
    padding-bottom: 30px;
}